lib/*
*.jar
build/
*.bin
target/
*.class
*.gz
*.html
*.hprof
*.dat
*.log
*.out
*.log.*
*.stdout
*.stderr
*.groovy
*.lck
*.part
*.DS_Store
*.gradle
*.iml
*.bin
*.cfs
*.fdt
*.pyc
*.ctrl
tmp/
*.tsv
*.properties
